{% extends 'layouts/default.html.twig' %}

{% block title 'Home' %}

{% block body %}
    <div class="container">
        <h1>robmeijer.co.uk</h1>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <p>Logged in as {{ app.user.fullName }}. <a href="{{ logout_url() }}">Log out</a>.</p>
        {% else %}
            <p>
                <a href="{{ url('security_login') }}">Log in</a> | <a href="{{ url('registration_register') }}">Register</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
