includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 10
    tmpDir: var/cache/phpstan
    symfony:
        consoleApplicationLoader: bin/console
    paths:
        - config/
        - src/
        - tests/
