{% extends 'layouts/admin-lte.html.twig' %}

{% block title 'Register' %}

{% block body_class 'hold-transition register-page' %}

{% block body %}
<div class="register-box">
    <div class="register-logo">
        <a href="{{ url('home') }}"><strong>robmeijer.co.uk</strong></a>
    </div>

    <div class="register-box-body">
        <form name="user" method="post">
            <div class="form-group has-feedback">
                <input id="user_firstName" name="user[firstName]" class="form-control" placeholder="First Name" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="user_surname" name="user[surname]" class="form-control" placeholder="Surname" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="user_email" name="user[email]" type="email" class="form-control" placeholder="Email" required>
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="user_username" name="user[username]" class="form-control" placeholder="Username" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="user_plainPassword_first" name="user[plainPassword][first]" type="password" class="form-control" placeholder="Password" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="user_plainPassword_second" name="user[plainPassword][second]" type="password" class="form-control" placeholder="Retype password" required>
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="{{ path('security_login') }}" class="text-center">I already have an account</a>
    </div>
    <!-- /.form-box -->
</div>
<!-- /.register-box -->
{% endblock %}
