{% extends 'layouts/admin-lte-backend.html.twig' %}

{% block content_header %}
    <h1>Dashboard <small>The Administration Dashboard</small></h1>
    <ol class="breadcrumb">
        <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
    </ol>
{% endblock %}

{% block content %}

{% endblock %}
