{% extends 'base-flex.html.twig' %}

{% block title %}coming soon{% endblock %}

{% block stylesheets %}
    <style>
        html, body {
            height: 100%;
        }

        #page-content {
            flex: 1 0 auto;
        }

        #sticky-footer {
            flex-shrink: 0;
        }

        body {
            background: #007bff;
            background: linear-gradient(to right, #0062E6, #33AEFF);
        }
    </style>
{% endblock %}

{% block body %}
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h1 class="font-weight-light mt-4 text-white"><strong>robmeijer</strong>.co.uk</h1>
                    <p class="lead text-white-50">coming soon ...</p>
                </div>
            </div>
        </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; 2019-{{ 'now'|date('Y') }} Rob Meijer</small>
        </div>
    </footer>
{% endblock %}
